<div class="jumbotron">
<h1>SEE UNiversity </h1>
</div>
<div class="col-md-4">
    <p> First Column</p>
    <p> First Column</p>
    <p> First Column</p>
</div>
<div class="col-md-4">
    <p> First Column</p>
    <p> First Column</p>
    <p> First Column</p>
</div>
<div class="col-md-4">
    <p> First Column</p>
    <p> First Column</p>
    <p> First Column</p>
</div>